[Desktop Entry]
Name=OCF Paper Quota Applet
Type=Application
Exec=nix develop /home/b/bl/blakeh/ocf-paper-genmon-applet --command /home/b/bl/blakeh/ocf-paper-genmon-applet/target/release/ocf-paper-genmon-applet
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
Icon=display-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=End
X-OverflowPriority=10
